@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-theme-orange: #FFA25C;
  --color-theme-grey: #A2A19F;
  --color-border: #E4E1DC;
}

:root {
  font-family: "Lexend", sans-serif;
}

h1 {
  font-size: 3vw;
  font-weight: 600;
}

h2 { 
  font-size: 1.4vw;
  font-weight: 400;
}

